.bt-menu {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 90px;
}

.menu {
    display: none;
}

nav {
    position: relative;
    z-index: 999;
}

nav a, nav a:visited {
    line-height: 2rem;
    color: inherit;
    display: block;
    font-weight: bold;
}

nav a:hover {
    color: $bleu;
}
nav li.bgBleu a:hover{
    color: $titreColor;
}

nav>ul>li {
    display: block;
    color: $titreColor;
}
nav li.bgJaune a, nav li.bgJaune.current-menu-item a, nav li.bgBleu.current-menu-item a{
    color:#fff!important;
}

.current-menu-item a,
.current-menu-item a .current-menu-parent a {
    color: $bleu!important;
}

.current-menu-parent .current-menu-item a {
    color: $bleu!important;
}

.menu-item-has-children {
    position: relative;
}

.menu-item-has-children>a:after {
    content: "\203A";
    display: inline-block;
    margin-left: 0.5rem;
    transition: .3s;
    transform: rotate(35deg);
    color: $titreColor;
    // font-size: 1.5rem;
    vertical-align: middle;
}

.menu-item-has-children:hover>a:after {
    transform: rotate(90deg);
    color: $bleu;
}

.sub-menu {
    position: relative;
    display: none;
    padding-top: 0;
    width: 100%;
    border-top: 1px solid $bleu;
    background: rgba(255, 255, 255, .8);
}
.sub-menu>li a {
    border-bottom: 1px solid #ccc;
    padding: 1rem.5rem;
    height: auto;
    line-height: normal;
}
.sub-menu>li:last-child a {
    /*background: #ddd;*/
    border-bottom: none;
}
.show,
.montre {
    display: block;
}
.montre {
    visibility: visible;
    opacity: 1;
}
@media screen and (min-width : 768px) {
    .bt-menu {
        display: none;
    }
    .menu {
        display: flex;
        justify-content: space-around;
        margin-top: 2rem;
    }
    .bt-menu:hover {
        cursor: pointer;
    }
    .sub-menu {
        display: flex;
        flex-direction: column; 
        visibility: hidden;
        /* hides sub-menu */
        position: absolute;
        top: 100%;
        width: 145px;
        opacity: 0;
        padding-top: 1px;
        transform: translateY(60px);
        z-index: 9999;
        transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
        border-top: 1px solid $bleu;
        background: rgba(255, 255, 255, .9);
    } 
    .montre {
        visibility: visible;
        /* shows sub-menu */
        opacity: 1;
        z-index: 9999;
        transform: translateY(0);
        transition-delay: 0s, 0s, 0.3s;
        /* this removes the transition delay so the menu will be visible while the other styles transition */
    }
}