@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Oswald:400,600');

$typoOswald : 'Oswald', sans-serif;
$typoLato : 'Lato', sans-serif;

$bleu : #1c75cf;
$jaune : #d4a108;
$titreColor : #222222;
$texteColor : #8f8f8f;